<article class="card card--teaser">
  {{#if bannerImage}}<img class="card__image" src="{{bannerImage.src}}" alt="{{bannerImage.alt}}" loading="lazy">{{/if}}
  {{#if categoryTag}}<span class="badge badge--tag">{{categoryTag}}</span>{{/if}}
  <h3 class="card__title"><a href="/news/{{slug}}/">{{title}}</a></h3>
  {{#if summary}}<p class="card__summary">{{summary}}</p>{{/if}}
  {{#if date}}<time class="card__date" datetime="{{date}}">{{date}}</time>{{/if}}
  <a class="card__more" href="/news/{{slug}}/">Read more &rarr;</a>
</article>
